.aka{
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
    border: solid 1px #dce2c8 !important;
    border-radius: 10px !important;
    background-color: #dce2c8 !important;
    text-align: center !important;
}